<div class="row mt-5">
    <div class="col-3">
        <input type="text" placeholder="Name" [(ngModel)]="hero.name" class="form-control">
    </div>
    <div class="col-3">
        <input type="text" placeholder="Power"[(ngModel)]="hero.power" class="form-control">
    </div>
    <div class="col-3">
        <input type="text" placeholder="Image URL" [(ngModel)]="hero.image" class="form-control">
    </div>
    <div class="col-3">
        <button class=" btn form-control text-light" (click)="ajouter()">Create</button>
    </div>
</div>


